# My First self-project on Kaggle

# Tabular Playground Series - Mar 2021

**Import**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import RandomForestClassifier

input_path = 'input/'

In [2]:
train = pd.read_csv(input_path + 'train.csv', index_col='id')
train

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,target
id,,,,,,,,,,,,,,,,,,,,,
0,A,I,A,B,B,BI,A,S,Q,A,...,0.759439,0.795549,0.681917,0.621672,0.592184,0.791921,0.815254,0.965006,0.665915,0
1,A,I,A,A,E,BI,K,W,AD,F,...,0.386385,0.541366,0.388982,0.357778,0.600044,0.408701,0.399353,0.927406,0.493729,0
2,A,K,A,A,E,BI,A,E,BM,L,...,0.343255,0.616352,0.793687,0.552877,0.352113,0.388835,0.412303,0.292696,0.549452,0
3,A,K,A,C,E,BI,A,Y,AD,F,...,0.831147,0.807807,0.800032,0.619147,0.221789,0.897617,0.633669,0.760318,0.934242,0
4,A,I,G,B,E,BI,C,G,Q,A,...,0.338818,0.277308,0.610578,0.128291,0.578764,0.279167,0.351103,0.357084,0.328960,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499993,A,N,F,A,E,BU,A,AS,K,A,...,0.662428,0.671927,0.390566,0.145840,0.262767,0.514248,0.519340,0.617436,0.688007,0
499995,A,K,A,A,G,BI,A,K,AE,E,...,0.821657,0.620356,0.384891,0.735879,0.547731,0.726653,0.470575,0.275743,0.638939,0
499996,A,G,M,A,H,BI,C,L,F,A,...,0.407037,0.232436,0.832482,0.810663,0.596939,0.308821,0.373997,0.518024,0.452144,1
499997,B,H,A,D,B,BI,A,AA,AX,A,...,0.808045,0.630708,0.346898,0.735147,0.563488,0.609836,0.680430,0.318453,0.335822,0
499999,A,F,C,A,E,BI,C,AV,S,A,...,0.775451,0.848696,0.819377,0.355467,0.218153,0.968856,0.823655,0.330515,0.972569,0

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300000 entries, 0 to 499999
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   cat0    300000 non-null  object
 1   cat1    300000 non-null  object
 2   cat2    300000 non-null  object
 3   cat3    300000 non-null  object
 4   cat4    300000 non-null  object
 5   cat5    300000 non-null  object
 6   cat6    300000 non-null  object
 7   cat7    300000 non-null  object
 8   cat8    300000 non-null  object
 9   cat9    300000 non-null  object
 10  cat10   300000 non-null  object
 11  cat11   300000 non-null  object
 12  cat12   300000 non-null  object
 13  cat13   300000 non-null  object
 14  cat14   300000 non-null  object
 15  cat15   300000 non-null  object
 16  cat16   300000 non-null  object
 17  cat17   300000 non-null  object
 18  cat18   300000 non-null  object
 19  cont0   300000 non-null  float64
 20  cont1   300000 non-null  float64
 21  cont2   300000 non-null  float64
 22  cont3   300000 non-null  float64
 23  cont4   300000 non-null  float64
 24  cont5   300000 non-null  float64
 25  cont6   300000 non-null  float64
 26  cont7   300000 non-null  float64
 27  cont8   300000 non-null  float64
 28  cont9   300000 non-null  float64
 29  cont10  300000 non-null  float64
 30  target  300000 non-null  int64
dtypes: float64(11), int64(1), object(19)
memory usage: 73.2+ MB

In [4]:
test = pd.read_csv(input_path + 'test.csv', index_col='id')
test

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10
id,,,,,,,,,,,,,,,,,,,,,
5,A,F,A,A,F,BI,A,AH,AX,A,...,0.735690,0.578366,0.723154,0.228037,0.356227,0.551249,0.655693,0.598331,0.359987,0.947489
6,A,H,C,A,E,AB,I,F,N,A,...,0.313703,0.928885,0.516602,0.600169,0.795224,0.248987,0.654614,0.347944,0.565520,0.388580
8,A,N,C,A,F,AB,A,AH,BC,A,...,0.448201,0.424876,0.344729,0.242073,0.270632,0.746740,0.335590,0.341238,0.252289,0.411592
9,B,L,C,A,F,BI,A,E,AX,A,...,0.666092,0.598943,0.561971,0.806347,0.735983,0.538724,0.381566,0.481660,0.348514,0.325723
11,A,F,A,B,F,BI,A,AH,I,A,...,0.772229,0.479572,0.767745,0.252454,0.354810,0.178920,0.763479,0.562491,0.466261,0.585781
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499983,A,N,A,D,F,BI,A,AF,AX,A,...,0.361426,0.351946,0.327670,0.205547,0.679195,0.485967,0.319130,0.520681,0.519545,0.427119
499984,B,I,A,B,E,BI,A,AS,S,E,...,0.551106,0.628843,0.677765,0.624935,0.555306,0.242424,0.700829,0.531728,0.528427,0.922645
499987,A,L,D,A,H,BI,A,AN,J,A,...,0.812384,0.803348,0.324762,0.665624,0.488447,0.853213,0.578641,0.811941,0.537106,0.531758
499994,A,K,A,C,F,BI,A,R,BM,A,...,0.811282,0.820635,0.561449,0.797434,0.555089,0.746532,0.369986,0.438712,0.715524,0.381978
499998,A,K,A,A,E,BI,C,AO,BM,I,...,0.336168,0.270483,0.581868,0.218993,0.553284,0.565213,0.378355,0.547927,0.273595,0.448016

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200000 entries, 5 to 499998
Data columns (total 30 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   cat0    200000 non-null  object
 1   cat1    200000 non-null  object
 2   cat2    200000 non-null  object
 3   cat3    200000 non-null  object
 4   cat4    200000 non-null  object
 5   cat5    200000 non-null  object
 6   cat6    200000 non-null  object
 7   cat7    200000 non-null  object
 8   cat8    200000 non-null  object
 9   cat9    200000 non-null  object
 10  cat10   200000 non-null  object
 11  cat11   200000 non-null  object
 12  cat12   200000 non-null  object
 13  cat13   200000 non-null  object
 14  cat14   200000 non-null  object
 15  cat15   200000 non-null  object
 16  cat16   200000 non-null  object
 17  cat17   200000 non-null  object
 18  cat18   200000 non-null  object
 19  cont0   200000 non-null  float64
 20  cont1   200000 non-null  float64
 21  cont2   200000 non-null  float64
 22  cont3   200000 non-null  float64
 23  cont4   200000 non-null  float64
 24  cont5   200000 non-null  float64
 25  cont6   200000 non-null  float64
 26  cont7   200000 non-null  float64
 27  cont8   200000 non-null  float64
 28  cont9   200000 non-null  float64
 29  cont10  200000 non-null  float64
dtypes: float64(11), object(19)
memory usage: 47.3+ MB

In [6]:
submission = pd.read_csv(input_path + 'sample_submission.csv', index_col='id')
submission.sample(5)

        target
id
60123      0.5
11087      0.5
232144     0.5
152925     0.5
33015      0.5

In [7]:
# Разделение на категориальные и числовые колонки
cat_columns = [col for col in list(test.columns) if 'cat' in col]
cont_columns = [col for col in list(test.columns) if 'cont' in col]

In [8]:
# Применение LabelEncoder для перевода категориальных колонок в числовые
label_train = train.copy()
label_test = test.copy()

label_encoder = LabelEncoder()
for col in cat_columns:
    label_encoder.fit(list(train[col].values) + list(test[col].values))
    label_train[col] = label_encoder.transform(train[col])
    label_test[col] = label_encoder.transform(test[col])

In [9]:
# Разделение выборки на train test
X_train, X_test, y_train, y_test = train_test_split(label_train.iloc[:, :-1], label_train['target'], train_size=0.6)

In [10]:
clfRF = RandomForestClassifier(n_estimators=200, max_depth=7, n_jobs=-1)
clfRF.fit(X_train, y_train)
y_pred = clfRF.predict_proba(X_test)[:, 1]
score = roc_auc_score(y_test, y_pred)
print(f'ROC_AUC_SCORE: {score : .5f}')

ROC_AUC_SCORE:  0.87383

In [11]:
# Train на полных данных
clfRF = RandomForestClassifier(n_estimators=200, max_depth=7, n_jobs=-1)
clfRF.fit(label_train.iloc[:, :-1], label_train['target'])
submission['target'] = clfRF.predict_proba(label_test)[:, 1]
submission.to_csv('random_forest_1.csv')

In [ ]:
# Пробую XGBoost
from xgboost import XGBClassifier

xgb_clf = XGBClassifier(n_estimators=1000, learning_rate=0.01, n_jobs=-1, verbose=False)
xgb_clf.fit(X_train, y_train)
y_pred_2 = xgb_clf.predict_proba(X_test)[:, 1]
score_2 = roc_auc_score(y_test, y_pred_2)
print(f'ROC_AUC_SCORE: {score_2 : .5f}')

In [13]:
#for n in range(100, 1001, 100):
#    xgb_clf = XGBClassifier(n_estimators=n, learning_rate=0.1, n_jobs=-1, verbose=False)
#    xgb_clf.fit(X_train, y_train)
#    y_pred_2 = xgb_clf.predict(X_test)
#    score_2 = roc_auc_score(y_test, y_pred_2)
#    print(f'n = {n} ROC_AUC_SCORE: {score_2 : .5f}')

In [12]:
xgb_clf_2 = XGBClassifier(n_estimators=600, learning_rate=0.05, n_jobs=-1, verbose=False)
xgb_clf_2.fit(label_train.iloc[:, :-1], label_train['target'])
submission_2 = submission.copy()
submission_2['target'] = xgb_clf_2.predict_proba(label_test)[:, 1]
submission_2.to_csv('xgboost_1.csv')

[14:44:32] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:541:
Parameters: { verbose } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[14:44:33] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.